html, 
body {
    height: 100%;
    background-image: url("../images/rotundasunset.jpg");
    background-repeat: no-repeat;
    background-position-x:center;
    background-size:cover;
    background-position-y:70%;
    color:whitesmoke;
    font-weight:900;
    text-shadow: 2px;
    font-family: 'Staatliches', cursive;
    
    
    
}
.form-group{
    
    width:35%;
    margin-left: auto;
    margin-right:auto;
}
.container{
    color: white;
    text-shadow: -1px -1px 0 rgb(83 82 82), 1px -1px 0 rgb(83 82 82), -1px 1px 0 rgb(83 82 82), 1px 1px 0 rgb(83 82 82);
   
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.txtoutline
{
    color: white;
    text-shadow:
    -1px -1px 0 rgb(83, 82, 82),
    1px -1px 0 rgb(83, 82, 82),
    -1px 1px 0 rgb(83, 82, 82),
    1px 1px 0 rgb(83, 82, 82);  
}
.navbar-dark .navbar-brand {
    color: white;
}
